<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{! Main CSS file for entire app }}
    <link rel="stylesheet" href="/css/style.css" />
    <title>My Tech Blog</title>
  </head>
  <body>
    <header class="">
      <h1>My Tech Blog</h1>
      <nav>
        <a href="">Home</a>
        <a href="">Dashboard</a>
        <a href="">Logout</a>
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      {{{body}}}
    </main>
  </body>
  <footer>
    <p>2023 | Developed by Michie Willman</p>
  </footer>
  {{! Main script file for app }}
  <script src=""></script>
</html>