<div class="post-card">
  <div class="post-header">
    {{title}}
  </div>
  <div>
    <p>{{description}}</p>
  </div>
  <div class="details">
    <p>{{author}}</p>
    <p>{{created_on}}</p>
  </div>
</div>